<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}'Django-Cavairs'{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
    {% block main_title %}{% endblock %}

    <p>Сортировать по :</p>
    <div>
        <a href="?sort_by=name&order=asc">по названию </a> |
        <a href="?sort_by=price&order=asc">с дешовых </a> |
        <a href="?sort_by=price&order=desc">с дорогих </a> |
    </div>
    {% for phone in phone_details %}
    <div class="catalog">
        <ul class="list-item">
            <li class="item phone-name">{{ phone.name }}</li>
            <li class="item phone-price">Стоимость: {{ phone.price }} Р.</li>
            <li class="item phone-img"><img class="img" src="{{ phone.image }}" alt="изображение телефона"></li>
        </ul>
        {%endfor%}
    </div>


</body>

</html>