a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 70px;
}

ul {
    display: flex;
    list-style-type: none;
}

.catalog {
    display: flex;
    flex-direction: row;
}

.list-item {
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    height: 100%;
}

.phone-name {
    font-size: 25px;
    color: blue;
}